.header {
  width: 100%;
  height: 56px;
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: #4267b2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;

  &-container {
    margin: auto 0;

    &-coins {
      display: flex;
      justify-content: center;
      margin-left: 30px;

      &-coin {
        display: inline-flex;
        margin-right: 20px;

        .bold-symbol {
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }

    &-portfolio {
      margin: auto 30px auto 0;

      &-balance {
        font-weight: 700;
        line-height: 30px;
        margin-right: 5px;
      }
    }
  }
}
